<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Django change mail</title>
    <style>
        .modal-header, h4, .close {
          background-color: #5cb85c;
          color:white !important;
          text-align: center;
          font-size: 30px;
        }
        .modal-footer {
          background-color: #f9f9f9;
        }
        </style>
  </head>
  <body>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">

<h1>connecter</h1>

{% if error %}
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}

{% if user.is_authenticated %}
Vous êtes connecté, {{ user.email }} !
</br>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-default btn-lg" id="myBtn">change mail</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class=" glyphicon glyphicon-cog"></span> change mail</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
          <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Submit</button>
            </form>
          </div>
      </div>
    </div>
    
  </div>
</div> 

<script>
$(document).ready(function(){
$("#myBtn").click(function(){
  $("#myModal").modal();
});
});
</script>


{% else %}
<form method="post" action="." novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Se connecter" />
</form>
{% endif %}


</div>
</div>
</div>
</body>
</html>